@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Fredoka+One&family=Orbitron:wght@400;700&family=Raleway:wght@500&family=Roboto+Mono:wght@700&family=Rubik:wght@700&family=Saira+Condensed:wght@700&display=swap");

.timer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 100vh;
  max-height: 100%;

  background-image: radial-gradient(
      circle at 90% 24%,
      rgba(209, 209, 209, 0.04) 0%,
      rgba(209, 209, 209, 0.04) 50%,
      rgba(160, 160, 160, 0.04) 50%,
      rgba(160, 160, 160, 0.04) 100%
    ),
    radial-gradient(
      circle at 91% 63%,
      rgba(45, 45, 45, 0.04) 0%,
      rgba(45, 45, 45, 0.04) 50%,
      rgba(87, 87, 87, 0.04) 50%,
      rgba(87, 87, 87, 0.04) 100%
    ),
    radial-gradient(
      circle at 17% 2%,
      rgba(124, 124, 124, 0.04) 0%,
      rgba(124, 124, 124, 0.04) 50%,
      rgba(117, 117, 117, 0.04) 50%,
      rgba(117, 117, 117, 0.04) 100%
    ),
    linear-gradient(88deg, rgb(33, 20, 105), rgb(1, 15, 13));
}
.timer .time h2 {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2rem;
  font-family: "Fredoka One", cursive;
  /* font-family: "Roboto Mono", monospace; */
}
.timer .time h2 span {
  font-size: 1.5rem;
  vertical-align: text-top;
  margin-left: 0.2rem;
}
.timer .session {
  margin-top: 2rem;
}
.timer .session h3 {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
  text-align: center;
  line-height: 5rem;
}
.timer .session h3 span {
  display: block;
  text-transform: uppercase;
  color: #d7ef8d;
}
.timer p.is-done {
  font-family: "Dosis", sans-serif;
  font-size: 20rem;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}
.timer .countdown {
}
.timer .countdown h1 {
  font-family: "Dosis", sans-serif;
  font-size: 30rem;
  font-weight: bold;
  margin: 0;
}
.timer h1 {
  color: #fff;
}
.timer .warning h1 {
  /* color: yellow; */
}
.timer .danger h1 {
}
.timer .countdown h1 span {
  vertical-align: top;
  margin-top: -3rem;
  display: inline-block;
}
.footnote p {
  margin: 0;
  font-size: 1.5rem;
}

/* Scheduler */
.form {
  color: #fff;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 5rem 0rem;
  background-image: radial-gradient(
      circle at 17% 36%,
      rgba(35, 35, 35, 0.06) 0%,
      rgba(35, 35, 35, 0.06) 25%,
      rgba(42, 42, 42, 0.06) 25%,
      rgba(42, 42, 42, 0.06) 50%,
      rgba(48, 48, 48, 0.06) 50%,
      rgba(48, 48, 48, 0.06) 75%,
      rgba(55, 55, 55, 0.06) 75%,
      rgba(55, 55, 55, 0.06) 100%
    ),
    radial-gradient(
      circle at 4% 82%,
      rgba(0, 0, 0, 0.06) 0%,
      rgba(0, 0, 0, 0.06) 25%,
      rgba(39, 39, 39, 0.06) 25%,
      rgba(39, 39, 39, 0.06) 50%,
      rgba(78, 78, 78, 0.06) 50%,
      rgba(78, 78, 78, 0.06) 75%,
      rgba(117, 117, 117, 0.06) 75%,
      rgba(117, 117, 117, 0.06) 100%
    ),
    radial-gradient(
      circle at 45% 66%,
      rgba(64, 64, 64, 0.06) 0%,
      rgba(64, 64, 64, 0.06) 25%,
      rgba(91, 91, 91, 0.06) 25%,
      rgba(91, 91, 91, 0.06) 50%,
      rgba(117, 117, 117, 0.06) 50%,
      rgba(117, 117, 117, 0.06) 75%,
      rgba(144, 144, 144, 0.06) 75%,
      rgba(144, 144, 144, 0.06) 100%
    ),
    linear-gradient(129deg, rgb(29, 29, 29), rgb(24, 24, 24));
}
.form .schedule {
  /* padding: 2rem; */
  border-right: 1px solid #fff;
}
.form h2 {
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.form .schedule p {
  width: 90%;
  margin-bottom: 2rem;
}
.form .schedule p label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: "Rubik", sans-serif;
}
.form .schedule p input {
  height: 3.5rem;
  width: 100%;
  padding-left: 0.5rem;
}
.form .schedule p select {
  height: 3.5rem;
  width: 100%;
  padding-left: 0.5rem;
}
.form .schedule p button {
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: white;
  color: #000;
  font-family: "Raleway", sans-serif;
  padding: 1rem 2rem;
  cursor: pointer;
}

.form .session {
  text-align: center;
}
.form .session h4 {
  font-family: "Rubik", sans-serif;
  font-size: 2.2rem;
  margin: 0;
  margin-bottom: 1.5rem;
}
.form .session .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 1.8rem;
}
.form .session h3 {
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 1.5rem;
}
.session .countdown {
  margin: 4rem 0;
}
.session .countdown h1 {
  font-family: "Dosis", sans-serif;
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
}

.session .countdown h1 span {
  vertical-align: top;
  margin-top: -1rem;
  display: inline-block;
}

@media (max-width: 767.98px) {
  .form .schedule {
    border-right: none !important;
  }
  .form .schedule p {
    width: 100%;
  }
  .form .schedule p button {
    padding: 1rem 5rem;
    display: block;
    margin: 0 auto;
  }
  .session {
    text-align: center;
    margin-top: 3rem;
    border-top: 1px solid #fff;
    padding-top: 2rem;
  }
  .session h2 {
    font-size: 2.5rem;
  }
  .session .line {
    width: 100% !important;
    height: 0px;
    background: transparent !important;
    margin-bottom: 1.8rem;
  }
  .session .countdown {
    margin: 0 !important;
  }
  .session .countdown h1 {
    font-family: "Dosis", sans-serif;
    font-size: 7rem;
    font-weight: bold;
    margin: 0;
  }
}
